/*demo page css*/
body {
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 5px;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog_link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog_link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 1px;
    position: relative;
    padding: 2px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #f89a1f; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 20%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }


span.breadcrumb { border:0px solid #5C443A;
 color: #eb8f00;
 font-weight:bold;
 letter-spacing:4px;
 text-align:left;
}

span.buddy { border:0px solid #5C443A;
 color: #eb8f00;
 font-family: sans-serif;
 font-size: 110%;
 text-align:left;
}

td.content {
 vertical-align: top;
 text-align:left;
 font-size: 110%;
 font-family: sans-serif;
}

